.users-form {
    position: relative;
    background: #FFFFFF;
    border-radius: 0.5rem;
    padding: 1rem;
    z-index: 9999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.users-form h2 {
    text-align: center;
}

.users-form button {
    margin-top: 0.5rem;
}