* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(90deg, rgb(230, 2, 230), blueviolet);
}

.delete-user {
  position: relative;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.delete-user > button {
  border: none;
  background: rgba(245, 8, 0, 0.959);
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.651);
  margin: 0.5rem 0;
}